<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="msvalidate.01" content="11D51291A2FD883D95F99F39206082B1" />

<link rel="canonical" href="https://lawrato.com/indian-kanoon/ipc">
<title>Vakil Vartha</title>


<link rel="apple-touch-icon" href="https://lawrato.com/assets/img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="https://lawrato.com/assets/img/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="https://lawrato.com/assets/img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="https://lawrato.com/assets/img/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="https://lawrato.com/assets/img/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="https://lawrato.com/assets/img/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="https://lawrato.com/assets/img/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="https://lawrato.com/assets/img/apple-touch-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="https://lawrato.com/assets/img/apple-touch-icon-180x180.png" />
<link rel="stylesheet" href="https://lawrato.com/assets/css/style.min.css?ver=2023.03" type="text/css" media="all" />

<style>
    header { 
height: 70px; 
width: 100vw; 
padding: 0 30px; 
background-color: var(--background-color1); 
position: sticky; 
z-index: 100; 
box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825); 
display: flex; 
justify-content: space-between; 
align-items: center; 
} 

.logo-img{
	height: 70px;
}
.icn { 
height: 30px; 
} 
.menuicn { 
cursor: pointer; 
} 

.searchbar, 
.message, 
.logosec { 
display: flex; 
align-items: center; 
justify-content: center; 
} 

.searchbar2 { 
display: none; 
} 

.logosec { 
gap: 60px; 
} 

.searchbar input { 
width: 250px; 
height: 42px; 
border-radius: 50px 0 0 50px; 
background-color: var(--background-color3); 
padding: 0 20px; 
font-size: 15px; 
outline: none; 
border: none; 
} 
.searchbtn { 
width: 50px; 
height: 42px; 
display: flex; 
align-items: center; 
justify-content: center; 
border-radius: 0px 50px 50px 0px; 
background-color: var(--secondary-color); 
cursor: pointer; 
} 

.message { 
gap: 40px; 
position: relative; 
cursor: pointer; 
} 
.circle { 
height: 7px; 
width: 7px; 
position: absolute; 
background-color: #fa7bb4; 
border-radius: 50%; 
left: 19px; 
top: 8px; 
} 
.dp { 
height: 40px; 
width: 40px; 
background-color: #626262; 
border-radius: 50%; 
display: flex; 
align-items: center; 
justify-content: center; 
overflow: hidden; 
} 

</style>

</head>
<body>

    <header> 

		<div class="logosec">
            <img src="/icons/pics.png" alt="Your Logo" class="logo-img">
		</div> 

		<div class="searchbar"> 
			<input type="text"
				placeholder="Search"> 
			<div class="searchbtn"> 
			<img src= "/icons/search.png" class="icn srchicn" alt="search-icon"> 
			</div> 
		</div> 

		<div class="message"> 
			<div class="circle"></div> 
			<img src= "/icons/notification.png" class="icn" alt=""> 
			<div class="dp"> 

			<img src= "/icons/profile.png" class="dpicn" alt="dp"> 
			</div> 
		</div> 

	</header> 

    <div class="block-card" style="padding-top: 50px;">
        <ul style="list-style-type:none;padding-left:0px;" >
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-1">IPC Section 1 - Title and extent of operation of the Code</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-2">IPC Section 2 - Punishment of offences committed within India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-3">IPC Section 3 - Punishment of offences committed beyond, but which by law may be tried within, India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-4">IPC Section 4 - Extension of Code to extra-territorial offences</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-5">IPC Section 5 - Certain laws not to be affected by this Act</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-6">IPC Section 6 - Definitions in the Code to be understood subject to exceptions</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-7">IPC Section 7 - Sense of expression once explained</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-8">IPC Section 8 - Gender</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-9">IPC Section 9 - Number</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-10">IPC Section 10 - "Man" "Woman"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-11">IPC Section 11 - "Person"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-12">IPC Section 12 - "Public"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-13">IPC Section 13 - "Queen"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-14">IPC Section 14 - "Servant of Government"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-15">IPC Section 15 - "British India"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-16">IPC Section 16 - "Government of India"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-17">IPC Section 17 - "Government"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-18">IPC Section 18 - "India"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-19">IPC Section 19 - "Judge"</a></li>
        <div class="clearfix"></div>
        
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-20">IPC Section 20 - "Court of Justice"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-21">IPC Section 21 - "Public servant"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-22">IPC Section 22 - "Movable property"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-23">IPC Section 23 - "Wrongful gain"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-24">IPC Section 24 - "Dishonestly"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-25">IPC Section 25 - "Fraudulently"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-26">IPC Section 26 - "Reason to believe"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-27">IPC Section 27 - Property in possession of wife, clerk or servant</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-28">IPC Section 28 - "Counterfeit"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-29">IPC Section 29 - "Document"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-30">IPC Section 30 - "Valuable security"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-31">IPC Section 31 - "A will"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-32">IPC Section 32 - Words referring to acts include illegal omissions</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-33">IPC Section 33 - "Act". "Omission"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-34">IPC Section 34 - Acts done by several persons in furtherance of common intention -</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-35">IPC Section 35 - When such an act is criminal by reason of its being done with a criminal knowledge or intention</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-36">IPC Section 36 - Effect caused partly by act and partly by omission</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-37">IPC Section 37 - Co-operation by doing one of several acts constituting an offence</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-38">IPC Section 38 - Persons concerned in criminal Act may be guilty of different offences</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-39">IPC Section 39 - "Voluntarily"</a></li>
        <div class="clearfix"></div>
        
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-40">IPC Section 40 - "Offence"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-41">IPC Section 41 - "Special law"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-42">IPC Section 42 - "Local law"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-43">IPC Section 43 - "Illegal". "Legally bound to do"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-44">IPC Section 44 - </a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-45">IPC Section 45 - "Life"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-46">IPC Section 46 - "Death"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-47">IPC Section 47 - "Animal"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-48">IPC Section 48 - "Vessel"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-49">IPC Section 49 - "Year". "Month"</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-50">IPC Section 50 - &quot;Section&quot;</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-51">IPC Section 51 - &#39;&#39;Oath&#39;&#39;</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-52">IPC Section 52 - &#39;&#39;Good faith&#39;&#39;</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-52a">IPC Section 52A - &quot;Harbour&quot;</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-53">IPC Section 53 - Punishments</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-53a">IPC Section 53A - Construction of reference to transportation</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-54">IPC Section 54 - Commutation of sentence of death</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-55">IPC Section 55 - Commutation of sentence of imprisonment for life</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-55a">IPC Section 55A - Definition of</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-56">IPC Section 56 - Sentence of Europeans and Americans to penal servitude.</a></li>
        <div class="clearfix"></div>
        
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-57">IPC Section 57 - Fractions of terms of punishment</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-58">IPC Section 58 - Offenders sentenced to transportation how dealt with until transported.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-59">IPC Section 59 - Transportation instead of imprisonment.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-60">IPC Section 60 - Sentence may be (in certain cases of imprisonment) wholly or partly rigorous or simple</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-61">IPC Section 61 - Sentence of forfeiture of property.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-62">IPC Section 62 - Forfeiture of property, in respect of offenders punishable with death, transportation or imprisonment.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-63">IPC Section 63 - Amount of fine</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-64">IPC Section 64 - Sentence of imprisonment for non-payment of fine</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-65">IPC Section 65 - Limit to imprisonment for non-payment of fine, when imprisonment and fine awardable</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-66">IPC Section 66 - Description of imprisonment for non-payment of fine</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-67">IPC Section 67 - Imprisonment for non-payment of fine, when offence punishable with fine only</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-68">IPC Section 68 - Imprisonment to terminate on payment of fine</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-69">IPC Section 69 - Termination of imprisonment on payment of proportional part of fine</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-70">IPC Section 70 - Fine leviable within six years, or during imprisonment. Death not to discharge property from liability</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-71">IPC Section 71 - Limit of punishment of offence made up of several offences</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-72">IPC Section 72 - Punishment of person guilty of one of several offences, the judgment stating that it is doubtful of which</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-73">IPC Section 73 - Solitary confinement</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-74">IPC Section 74 - Limit of solitary confinement</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-75">IPC Section 75 - Enhanced punishment for certain offences under Chapter XII or Chapter XVII after previous conviction</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-76">IPC Section 76 - Act done by a person bound, or by mistake of fact believing himself bound, by law</a></li>
        <div class="clearfix"></div>

        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-77">IPC Section 77 - Act of Judge when acting judicially</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-78">IPC Section 78 - Act done pursuant to the judgment or order of Court</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-79">IPC Section 79 - Act done by a person justified, or by mistake of fact believing himself, justified, by law</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-80">IPC Section 80 - Accident in doing a lawful act</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-81">IPC Section 81 - Act likely to cause harm, but done without criminal intent, and to prevent other harm</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-82">IPC Section 82 - Act of a child under seven years of age</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-83">IPC Section 83 - Act of a child above seven and under twelve of immature understanding</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-84">IPC Section 84 - Act of a person of unsound mind</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-85">IPC Section 85 - Act of a person incapable of judgment by reason of intoxication caused against his will</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-86">IPC Section 86 - Offence requiring a particular intent or knowledge committed by one who is intoxicated</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-87">IPC Section 87 - Act not intended and not known to be likely to cause death or grievous hurt, done by consent</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-88">IPC Section 88 - Act not intended to cause death, done by consent in good faith for person&#39;s benefit</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-89">IPC Section 89 - Act done in good faith for benefit of child or insane person, by or by consent of guardian</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-90">IPC Section 90 - Consent known to be given under fear or misconception</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-91">IPC Section 91 - Exclusion of acts which are offences independently of harm cause</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-92">IPC Section 92 - Act done in good faith for benefit of a person without consent</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-93">IPC Section 93 - Communication made in good faith</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-94">IPC Section 94 - Act to which a person is compelled by threats</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-95">IPC Section 95 - Act causing slight harm</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-96">IPC Section 96 - Things done in private defence</a></li>
        <div class="clearfix"></div>
        
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-97">IPC Section 97 - Right of private defence of the body and of property</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-98">IPC Section 98 - Right of private defence against the act of a person of unsound mind, etc.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-99">IPC Section 99 - Acts against which there is no right of private defence</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-100">IPC Section 100 - When the right of private defence of the body extends to causing death CLAA2013</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-101">IPC Section 101 - When such right extends to causing any harm other than death</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-102">IPC Section 102 - Commencement and continuance of the right of private defence of the body</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-103">IPC Section 103 - When the right of private defence of property extends to causing death</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-104">IPC Section 104 - When such right to causing any harm other than death</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-105">IPC Section 105 - Commencement and continuance of the right of private defence of property</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-106">IPC Section 106 - Right of private defence against deadly assault when there is risk of harm to innocent person</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-107">IPC Section 107 - Abetment of a thing</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-108">IPC Section 108 - Abettor</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-108a">IPC Section 108A - Abetment in India of offences outside India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-109">IPC Section 109 - Punishment of abetment if the act abetted is committed in consequence and where no express provision is made for its punishment</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-110">IPC Section 110 - Punishment of abetment if person abetted does act with different intention from that of abettor</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-111">IPC Section 111 - Liability of abettor when one act abetted and different act done</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-112">IPC Section 112 - Abettor when liable to cumulative punishment for act abetted and for act done</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-113">IPC Section 113 - Liability of abettor for an effect caused by the act abetted different from that intended by the abettor</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-114">IPC Section 114 - Abettor present when offence is committed</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-115">IPC Section 115 - Abetment of offence punishable with death or imprisonment for life if offence not committed</a></li>
        <div class="clearfix"></div>

        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-116">IPC Section 116 - Abetment of offence punishable with imprisonment--if offence be not committed</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-117">IPC Section 117 - Abetting commission of offence by the public or by more than ten persons</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-118">IPC Section 118 - Concealing design to commit offence punishable with death or imprisonment for life</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-119">IPC Section 119 - Public servant concealing design to commit offence which it is his duty to prevent</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-120">IPC Section 120 - Concealing design to commit offence punishable with imprisonment</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-120a">IPC Section 120A - Definition of criminal conspiracy</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-120b">IPC Section 120B - Punishment of criminal conspiracy</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-121">IPC Section 121 - Waging, or attempting to wage war, or abetting waging of war, against the Government of India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-121a">IPC Section 121A - Conspiracy to commit offences punishable by section 121</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-122">IPC Section 122 - Collecting arms, etc., with intention of waging war against the Government of India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-123">IPC Section 123 - Concealing with intent to facilitate design to wage war</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-124">IPC Section 124 - Assaulting President, Governor, etc., with intent to compel or restrain the exercise of any lawful power</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-124a">IPC Section 124A - Sedition</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-125">IPC Section 125 - Waging war against any Asiatic Power in alliance with the Government of India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-126">IPC Section 126 - Committing depredation on territories of Power at peace with the Government of India</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-127">IPC Section 127 - Receiving property taken by war or depredation mentioned in sections 125 and 126</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-128">IPC Section 128 - Public servant voluntarily allowing prisoner of state or war to escape</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-129">IPC Section 129 - Public servant negligently suffering such prisoner to escape</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-130">IPC Section 130 - Aiding escape of, rescuing or harbouring such prisoner</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-131">IPC Section 131 - Abetting mutiny, or attempting to seduce a soldier, sailor or airman from his duty</a></li>
        <div class="clearfix"></div> 

        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-132">IPC Section 132 - Abetment of mutiny, if mutiny is committed in consequence thereof</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-133">IPC Section 133 - Abetment of assault by soldier, sailor or airman on his superior officer, when in execution of his office</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-134">IPC Section 134 - Abetment of such assault, if the assault committed</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-135">IPC Section 135 - Abetment of desertion of soldier, sailor or airman</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-136">IPC Section 136 - Harbouring deserter</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-137">IPC Section 137 - Deserter concealed on board merchant vessel through negligence of master</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-138">IPC Section 138 - Abetment of act of insubordination by soldier, sailor or airman</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-138a">IPC Section 138A - Application of foregoing sections to the Indian Marine Service.</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-139">IPC Section 139 - Persons subject to certain Acts</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-140">IPC Section 140 - Wearing garb or carrying token used by soldier, sailor or airman</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-141">IPC Section 141 - Unlawful assembly</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-142">IPC Section 142 - Being member of unlawful assembly</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-143">IPC Section 143 - Punishment</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-144">IPC Section 144 - Joining unlawful assembly armed with deadly weapon</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-145">IPC Section 145 - Joining or continuing in unlawful assembly, knowing it has been commanded to disperse</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-146">IPC Section 146 - Rioting</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-147">IPC Section 147 - Punishment for rioting</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-148">IPC Section 148 - Rioting, armed with deadly weapon</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-149">IPC Section 149 - Every member of unlawful assembly guilty of offence committed in prosecution of common object</a></li>
        <div class="clearfix"></div>
        <li class="col-sm-12 arrow-list-fancy"><a href="https://lawrato.com/indian-kanoon/ipc/section-150">IPC Section 150 - Hiring, or conniving at hiring, of persons to join unlawful assembly</a></li>
        </div>
        </div>
        </div>
</body>
</html>